<img src="{{ app.request.basepath }}/images/harta.png" class="img-responsive">

<div id="stands_map">
    <div id='stand_s1' class="stand_2mp_h stand" data-name='Stand1' data-size='4'>Stand 1 (4x2 m<sup>2</sup>)</div>
    <div id='stand_s2' class="stand_2mp_h stand" data-name='Stand2' data-size='4'>Stand 2 (4x2 m<sup>2</sup>)</div>
    <div id='stand_s3' class="stand_2mp_h stand" data-name='Stand3' data-size='4'>Stand 3 (4x2 m<sup>2</sup>)</div>
    <div id='stand_s4' class="stand_2mp_h stand" data-name='Stand4' data-size='2'>Stand 4 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s5' class="stand_2mp_h stand" data-name='Stand5' data-size='2'>Stand 5 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s6' class="stand_2mp_h stand" data-name='Stand6' data-size='2'>Stand 6 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s7' class="stand_2mp_h stand" data-name='Stand7' data-size='2'>Stand 7 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s8' class="stand_2mp_h stand" data-name='Stand8' data-size='2'>Stand 8 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s9' class="stand_2mp_h stand" data-name='Stand9' data-size='2'>Stand 9 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s10' class="stand_2mp_h stand" data-name='Stand10' data-size='3'>Stand 10 (3x2 m<sup>2</sup>)</div>
    <div id='stand_s11' class="stand_2mp_h stand" data-name='Stand11' data-size='3'>Stand 11 (3x2 m<sup>2</sup>)</div>
    <div id='stand_s12' class="stand_2mp_h stand" data-name='Stand12' data-size='2'>Stand 12 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s13' class="stand_2mp_h stand" data-name='Stand13' data-size='2'>Stand 13 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s14' class="stand_2mp_h stand" data-name='Stand14' data-size='3'>Stand 14 (3x2 m<sup>2</sup>)</div>
    <div id='stand_s15' class="stand_2mp_h stand" data-name='Stand15' data-size='2'>Stand 15 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s16' class="stand_2mp_h stand" data-name='Stand16' data-size='2'>Stand 16 (2x2 m<sup>2</sup>)</div> 
    <div id='stand_s17' class="stand_2mp_h stand" data-name='Stand17' data-size='2'>Stand 17 (2x2 m<sup>2</sup>)</div> 
    <div id='stand_s18' class="stand_2mp_h stand" data-name='Stand18' data-size='2'>Stand 18 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s19' class="stand_2mp_h stand" data-name='Stand19' data-size='2'>Stand 19 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s20' class="stand_2mp_h stand" data-name='Stand20' data-size='2'>Stand 20 (2x2 m<sup>2</sup>)</div>
    <div id='stand_s21' class="stand_2mp_h stand" data-name='Stand21' data-size='2'>Stand 21 (2x2 m<sup>2</sup>)</div>
</div>


